<h1> Sample UI built by Loc Nguyen </h1>
<!-- Main UI consist of a list of meetings on the left, and the video chat stuff -->
<div id="mainUI">
  <!-- Meeting list column -->
  <div id="meetingColumn">
    <h2>List of meetings</h2>
    <div class="meetingContainer"> </div>
    <div class="meetingItemContainer">
          <div class="meetingTitle"> Meeting Title </div>
          <div class="meetingHost"> Host name </div>
          <div class= "meetingTime">
              <div class="meetingStartTime"> 10AM </div>
              <div class="meetingEndTime"> 11AM </div>
          </div>
    </div>
    <div class="meetingItemContainer">
          <div class="meetingTitle"> Meeting Title </div>
          <div class="meetingHost"> Host name </div>
          <div class= "meetingTime">
              <div class="meetingStartTime"> 10AM </div>
              <div class="meetingEndTime"> 11AM </div>
          </div>
    </div>
    <div class="meetingItemContainer">
          <div class="meetingTitle"> Meeting Title </div>
          <div class="meetingHost"> Host name </div>
          <div class= "meetingTime">
              <div class="meetingStartTime"> 10AM </div>
              <div class="meetingEndTime"> 11AM </div>
          </div>
    </div>
    <div class="meetingItemContainer">
          <div class="meetingTitle"> Meeting Title </div>
          <div class="meetingHost"> Host name </div>
          <div class= "meetingTime">
              <div class="meetingStartTime"> 10AM </div>
              <div class="meetingEndTime"> 11AM </div>
          </div>
    </div>

    <button> Create Meeting </button>
  </div>

  <!-- The video chat annotation stuff thingy on the right?? -->
  <div id="videoChat">
    Stuff
  </div>
</div>
